canvas {
    position:absolute;
    top:0;
    left:0;
    border:1px solid black;
    z-index:-1
    
}


.fromX, .fromY, .width, .height {
    font-weight: bold;
    color: red;
}
#zoomedimage{

    margin:150px 0 0 150px; 
   
    }

.hide{
    display:none;
}